{% extends "layout.html.twig" %}
{% block content %}
    <div><a href="sms/sent">Sent Messages</a></div>
    <div><a href="sms/send">Send Message</a></div>
    <div><a href="statistics">Show Statistics</a></div>
{% endblock %}
